*{
    font-family: 'Kanit', sans-serif;
}
body{
    height: 100vh;
}

.ims_navbar{
    background: #f1f7fd;
    padding-top: 7px;
    padding-bottom: 4px;
}

.ims_navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ims_navbar a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.ims_navbar a:nth-child(3){
    cursor: pointer;
}

.section_title{
    margin-top: 10px;
}

.link_icons{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}

.link_icons a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    color: black;
    padding: 20px;
    background: #f1f7fd;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.link_icons a:not(:last-child){
    margin-right: 10px;
}

.link_icons a:hover{
    background: #e3effc;
}

.link_icons a img{
    width: 60px;
}

.add_note_form_hide{
    display: none;
}

.all_pending_note{
    padding-bottom: 30px;
}

.pending_note{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.card-header a{
    text-decoration: none;
}